{% extends 'main/base.html' %}

{% block content %}

<main role="main" class="container">

    <div class="starter-template">
        <h1>Przychód</h1>

        <form method="post">
            {% csrf_token %}
            <input type="number" name="number" step="0.01" required>
            <input type="date" name="date" required>
            <input type="submit" name="submit">
        </form>
    </div>
    <table>
    {% for da in dataCash %}
        <tr>
            <td>{{da.money}}</td>
            <td>{{da.date}}</td>
        </tr>
    {% endfor %}
    </table>
</main>

<hr>
{% endblock %}