{% extends 'main/base.html' %}

{% block content %}

<main role="main" class="container">

    <div class="starter-template">
        <h1>Przychód</h1>


        <form method="post">
            {% csrf_token %}
            <input type="number" name="number" step="0.01" required placeholder="Wpłata">
            <input type="date" name="date" required>
            <input type="submit" name="submit">
        </form>
    </div>
    <table>
        {% for da in dataCash %}
        <tr>
            <td>{{da.money}}</td>
            <td>{{da.date}}</td>
            <td>{{da.userId}}</td>
        </tr>
        {% endfor %}
    </table>


    <hr>

    <p class="lead">


    </p>
    </div>
    <!-- WYKRES -->
    <div class="income-chart">
        <button id="yearButton" type="button" class="btn btn-primary" style="width:80px;">Rok</button>
        <button id="monthButton" type="button" class="btn btn-light" style="width:80px; margin-left: 5px;">Miesiąc</button>
        <input type="number" value="2019" class="form-control" style="width:170px; margin-top: 5px;" name="year">

        <select id="monthPicker" class="form-control" style="width:170px; margin-top: 5px; display: inline-block;" name="month" hidden="">
            <option value="1">Styczeń</option>
            <option value="2">Luty</option>
            <option value="3">Marzec</option>
            <option value="4">Kwiecień</option>
            <option value="5">Maj</option>
            <option value="6">Czerwiec</option>
            <option value="7">Lipiec</option>
            <option value="8">Sierpień</option>
            <option value="9">Wrzesień</option>
            <option value="10">Październik</option>
            <option value="11">Listopad</option>
            <option value="12">Grudzień</option>
        </select>

        <h1>Wykres:</h1>
        <p>
            <canvas id="income-chart"></canvas>
        </p>
    </div>
    <!-- KONIEC WYKRESU -->
</main>



<hr>

{{ chartScript | safe}}


{% endblock %}