{% extends 'main/base.html' %}

{% block content %}

    <main role="main" class="container">
    
        <div class="starter-template">
            <h1>Panel użytkownika</h1>
            <p class="lead">
                zmiana imienia/nazwiska/hasła
            </p>
            <h1>Dodaj/Usuń kategorię</h1>
            <form method="post">
                {% csrf_token %}
                <input type="text" name="addcategory" required placeholder="Kategoria">
                <input type="submit" name="addNewCategoryButton" value="Add new Category">
                <input type="submit" name="deleteCategoryButton" value="Delete Category">
            </form>

            <h1>Zminaa danych użytkownika</h1>
            <form method="post">
                {% csrf_token %}
                <input type="text" name="newUserName" required placeholder="UserName">
                <input type="submit" name="newUserNameButton" value="Add new UserName">
            </form>
            <form method="post">
                    {% csrf_token %}
                <input type="text" name="newName" required placeholder="New name">
                <input type="submit" name="newNameButton" value="Add new Name">
            </form>
            <form method="post">
                    {% csrf_token %}
                <input type="text" name="newUserSurname" required placeholder="Surname">
                <input type="submit" name="newUserSurnameButton" value="Add new Surname">

            </form>
            <form method="post">
                {% csrf_token %}
            <input type="text" name="changePassword" required placeholder="Password">
            <input type="submit" name="changePasswordButton" value="Add new Password">

        </form>
            <!--
            <hr>
            <h2 class="h2signup">Zmień hasło</h2>
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                  <p>
                    {{ field.label_tag }}<br>
                    {{ field }}<br>
                    <div class = "helptext">
                    {% if field.help_text %}
                      <small style="color: grey">{{ field.help_text }}</small>
                    {% endif %}
                    </div>
                    {% for error in field.errors %}
                      <p style="color: red">{{ error }}</p>
                    {% endfor %}
                  </p>
                {% endfor %}
                <button type="submit" name="newPassword" class="btn btn-success">Utwórz</button>
                <button type="reset" class="btn btn-success">Reset</button>
              </form>
            -->
        </div>
    
    </main>

    <hr>
{% endblock %}